# Ignore build directories
/build/
/dist/

# Ignore editor files
.vscode/
.idea/
.settings/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

#ignore metadata
.metadata/

# Ignore external libraries
/LwIP/libraries

